{% extends 'base.html.twig' %}

{% block body %}
    <div class="container col-11">
    <h1>Book creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input class="btn btn-success mb-2"  type="submit" value="Create" />
    {{ form_end(form) }}
        <a href="{{ path('book_index') }}"  class="btn btn-light mb-2">Back to the list</a>

    </div>
{% endblock %}
