{% block header %}
    {% if app.request.get('_route') == 'fos_user_security_login' %}
        {% else %}
            <div class="container" style="background-color: white">
            <div class="row">
                <div class="display-1">Library</div>
            </div>
            {% if is_granted("ROLE_USER") %}
                <div class="row">
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                </div>

                {% else %}
                    <a href="{{ path('fos_user_security_login') }}">Login</a>
                {% endif %}
    {% endif %}
{% endblock %}