@import '~bootstrap/scss/bootstrap';

body{
  background-color: rgb(245,245,245);
  .container{
    background-color: rgb(255,255,255);
  }
}

.login-box{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: white;
}

#login-screen-landscape{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

.forgot-password{
  color: rgb(174,174,174);

}

.forgot-password:hover{
  color: rgb(31,170,114);
  text-decoration: none;
}

.btn.btn-secondary.active{
  background-color: #1fb372!important;
}
.btn.btn-outline-secondary:focus{
  background-color: #1fb372!important;
}
.btn.btn-outline-secondary:hover{
  background-color: #1fb372!important;
}

.page-item.active{
  background-color: #1fb372!important;
}



.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color:    #1fb372!important;
  border-color:         #1fb372!important;
  color:               #000000;
  cursor:pointer;
  z-index:2;
}


.page-item{
  .page-link {
    color: #1fb372!important;
  }
}

.page-item.disabled{
  .page-link{
    color: rgb(174,174,174)!important;
  }
}

.page-item.active{
  .page-link{
    color: white!important;
  }
}


