@import '~bootstrap/scss/bootstrap';

body{
  background-color: rgb(245,245,245);
  .container{
    background-color: rgb(255,255,255);
  }
}

.login-box{
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
  background-color: white;
}

#login-screen-landscape{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: white;
}

.forgot-password{
  color: rgb(174,174,174);

}

.forgot-password:hover{
  color: rgb(31,170,114);
  text-decoration: none;
}